@media screen and (max-width: 767px) {
    header {
        height: 5vh;
        margin-bottom: 5px;
        background-color: rgb(132, 232, 255);
    }

    section:first-child {
        height: 27vh;
        margin-bottom: 5px;
        background-color: rgb(132, 255, 134);
    }

    section:nth-child(2) {
        height: 58vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    article {
        margin-bottom: 5px;
        background-color: rgb(251, 255, 132);
    }

    #display_row:nth-child(2),
    #display_row:nth-child(3) {
        display: none;
    }

    footer {
        height: 5vh;
        background-color: rgb(255, 132, 132);
    }
}
